<h2>Favoritos</h2>
{{#if favorites.length}}
    {{#each favorites}}
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">{{this.name}}</h5>
                <p class="card-text">{{this.description}}</p>
                <form action="/favoritos/toggle-favorite" method="POST">
                    <input type="hidden" name="productId" value="{{this.id}}">
                    <button type="submit" class="btn btn-danger">Quitar de Favoritos</button>
                </form>
            </div>
        </div>
    {{/each}}
{{else}}
    <p>No tienes productos en favoritos.</p>
{{/if}}
